body * {
  box-sizing: border-box;
  font-family: 'Roboot', sans-serif;
}

h2 {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
}

h3 {
  font-weight: bold;
  font-size: 1rem;
  margin-top: 1rem;
}

#app {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  padding: 1rem;
}

#app_run-sync {
  width: 40%;
}

#app_2fa {
  width: 60%;
}

#app_2fa p:first-of-type {
  font-size: 0.75rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

button {
  cursor: pointer;
}

#prefix-list {
  margin-top: 1rem;
}

.row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}

#run-sync {
  margin-left: 0.5rem;
}

#auth-code, #add-auth-code {
  margin-left: 0.5rem;
}